<p>The pizza's details:</p>

<p>Name: <%= @pizza.pretty_name %></p>
<p>Order: <%= @pizza.quantity %> x <%= @pizza.topping %></p>

<!-- I need a form to access the delete route -->
<form action="/pizzas/<%= @pizza.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form> 

<form action="/pizzas/<%= @pizza.id %>/edit" method="GET">
  <input type="submit" value="Edit">
</form> 
<hr>


